<nav class="navbar navbar-fixed-top" style="background-color: #3C4C5B;">
      <a class="navbar-brand col-xs-offset-1 col-xs-1" href="#"><%= image_tag 'coding_dojo_highres_white', id: 'brand-logo', class: 'img-responsive' %></a>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
</nav><!-- /.navbar -->
