<h1>Admin Page:</h1>
<p>list of students</p>
<p>list of instructors</p>

<a href="/cohorts/new">Add a new Cohort</a><br>
<a href="/students/new">Add a new student</a><br>
<a href="/instructors/new">Add a new instructor</a>