
<div class="container">
  <div class="row">
    <div class="col-xs-12 dashboard-heading">
      <h1><%= @user.name %> </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="box">
        <div class="box-title">
          <h3>My Stacks</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Stack</th>
            <th>Start Date</th>
            <th>Location</th>
            <th>Student Count</th>
            <th>Status</th>
            <th>Add Alert</th>
          </thead>
          <tbody>
            <tr>
              <td>Mean</td>
              <td>7/01/2016</td>
              <td>Seattle</td>
              <td>23</td>
              <td>Completed</td>
              <td></td>
            </tr>
            <tr>
              <td>Ruby</td>
              <td>8/01/2016</td>
              <td>Seattle</td>
              <td>28</td>
              <td>Active</td>
              <td><button class="btn btn-primary">Send Message</button></td>
            </tr>
            <tr>
              <td>Web Funds</td>
              <td>8/01/2016</td>
              <td>Web Based</td>
              <td>12</td>
              <td>Active</td>
              <td><button class="btn btn-primary">Send Message</button></td>
            </tr>
            <tr>
              <td>Mean</td>
              <td>9/01/2016</td>
              <td>Seattle</td>
              <td>3</td>
              <td>Inactive</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="box">
        <div class="box-title">
          <h3>Student Issues</h3>
        </div>
        <table class="table table-striped">
          <thead>
            <th>Student Name</th>
            <th>Falling Behind</th>
            <th>Needs Help</th>
            <th>Send a message</th>
            <th>Reset Concern</th>
          </thead>
          <tbody>
            <tr>
              <td>Mean</td>
              <td>7/01/2016</td>
              <td>Seattle</td>
              <td>23</td>
              <td>Completed</td>
            </tr>
            <tr>
              <td>Ruby</td>
              <td>8/01/2016</td>
              <td>Seattle</td>
              <td>28</td>
              <td>Active</td>
            </tr>
            <tr>
              <td>Web Funds</td>
              <td>8/01/2016</td>
              <td>Web Based</td>
              <td>12</td>
              <td>Active</td>
            </tr>
            <tr>
              <td>Mean</td>
              <td>9/01/2016</td>
              <td>Seattle</td>
              <td>3</td>
              <td>Inactive</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
