// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_edit_div {
    margin-left: 15px;
}
.hidden{
    visibility: hidden;
}

#drop_zone {
    border: black dashed 2px;
    display: flex;
    align-items: center;
    width: 40%;
    height: 10em;
    text-align: center;
}

#drop_zone p {
    margin: auto;
}
