// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions-login-main {
	background-color: #3C4C5B;
	color: #fff;
	font-family: Gotham-Rounded-Bold;
	height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#sessions-login-container {
	height: 436px;
	width: 470px;
    margin: 65px auto auto;
}

#sessions-login-logo {
	height: auto;
    display: block;
    width: 150px;
    margin: 0px auto 5px auto;
}

#sessions-login-title {
	display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
}
#sessions-login-title h1 {
	font-size: 38px;
	font-family: Gotham-Rounded-Bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

#sessions-login-tabs {
	margin: 25px 50px;
}

#sessions-login-tabs div form div.row {
	margin: 0px 0px;
}

#sessions-login-tabs, #sessions-login-tabs-ul  {
	border: none;
	padding: 0px;
	background-color: transparent;
}

#sessions-login-tabs-ul li {
	margin-right: 0px;
	border: none;
}

#sessions-login-tabs-ul li a{
	font-weight: 500;
	color: black;
}

#sessions-login-tabs-1, #sessions-login-tabs-2 {
	border: none;
	background-color: white;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: white;
    font-weight: normal;
    color: #ffffff;
}