// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .user_edit_div {
      margin-left: 15px;
  }

  .hidden{
      visibility: hidden;
  }

  #chart_type_div {
      vertical-align: top;
  }
  .toggle_table  td {
      padding-right: 20px;
  }

  .toggle_table td p {
       text-align:right;
  }

  .alert-box{
    padding:10px;
  }

  .graph-box{
    padding: 25px;
  }
